@charset "UTF-8";

/*
    Em HTML é id = em CSS é # (só pode 1 elemento no mesmo HTML)
    Em HTML é class = em CSS é . (pode vários elementos)

*/

body{
    background-color: rgb(201, 218, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(77, 156, 77);
}

h1#principal {
    text-align: center;
    background-color: #4d9c4d;
    color: white;

}

h2 {
    color: #144214;
}

.basico {
    color: #144214;
    font-weight: bold;
}

.intermediario {
    color: #717026;
}

.avancado {
    color: #a02402;
}

.destaque {
    background-color: #cdcd8086;
}
