@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right, #D4B99E,#FBE2D0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(129, 113, 96, 0.827);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #76A6B4;
    text-align: center; text-shadow: 1px 1px 2px rgba(71, 100, 109, 0.619);
}

h2 {
    color: #507993;
}

p {
    text-align: justify;
}